<div *ngIf="loadingpage; else content" class="w-full md:w-[67vw] h-[85vh] bg-green-900 flex flex-col p-4">
  <!-- Squelette de chargement -->
  <div class="h-full bg-gray-300 p-8 flex flex-col rounded-lg">
    <!-- En-tête de la conversation -->
    <div class="flex items-center mb-4">
      <div class="w-12 h-12 rounded-full bg-gray-400 animate-pulse"></div>
      <div class="ml-4">
        <div class="text-xl font-semibold bg-gray-400 w-20 h-4 animate-pulse"></div>
      </div>
    </div>

    <!-- Zone de conversation -->
    <div class="flex-1 bg-white p-4 overflow-y-auto rounded-lg">
      <div class="message-box bg-gray-100 animate-pulse">
        <div class="message-header">
          <div class="w-8 h-8 rounded-full bg-gray-400"></div>
          <div class="ml-2">
            <div class="font-semibold bg-gray-400 w-16 h-4 animate-pulse"></div>
            <div class="message-time bg-gray-400 w-12 h-3 animate-pulse"></div>
          </div>
        </div>
        <div class="message-content bg-gray-400 w-3/4 h-4 animate-pulse"></div>
      </div>
      <!-- Ajoutez autant d'éléments de message que nécessaire -->
    </div>

    <!-- Barre pour le message -->
    <div class="flex items-center mt-4 pt-2">
      <div class="flex-1 mr-2 p-2 border border-gray-300 rounded bg-gray-400 animate-pulse"></div>
      <div class="px-4 py-2 bg-gray-400 text-white rounded-r animate-pulse"></div>
    </div>
  </div>
</div>

<ng-template #content>
  <div class="w-full md:w-[67vw] h-auto md:h-[85vh] bg-green-900 flex flex-col p-4">
    <div *ngIf="contact" class="h-full bg-gray-300 p-8 flex flex-col rounded-lg">
      <!-- En-tête de la conversation -->
      <div class="flex items-center mb-4">
        <img [src]="contact.senderInfo.profilPictureUrl"
          alt="Photo de {{ contact.senderInfo.firstName }} {{ contact.senderInfo.lastName }}"
          class="w-12 h-12 rounded-full" />
        <div class="ml-4">
          <h2 class="text-xl font-semibold">{{ contact.senderInfo.firstName }} {{ contact.senderInfo.lastName }}</h2>
        </div>
      </div>

      <!-- Zone de conversation -->
      <div #chatContainer class="flex-1 bg-white p-4 overflow-y-auto rounded-lg">
        <div *ngFor="let message of messagetab.messages" class="message-box bg-gray-100">
          <div class="message-header">
            <img
              [src]="(message.senderId === contact.senderInfo.id) ? contact.senderInfo.profilPictureUrl : myInfo.profilPictureUrl"
              alt="Photo de {{ (message.senderId === contact.senderInfo.id) ? contact.senderInfo.firstName : myInfo.firstName }} {{ (message.senderId === contact.senderInfo.id) ? contact.senderInfo.lastName : myInfo.lastName }}"
              class="w-8 h-8 rounded-full" />
            <div class="ml-2">
              <div class="font-semibold">{{ (message.senderId === contact.senderInfo.id) ? contact.senderInfo.firstName
                :
                myInfo.firstName }} {{ (message.senderId === contact.senderInfo.id) ? contact.senderInfo.lastName :
                myInfo.lastName
                }}</div>
              <div class="message-time">{{ message.messageDateTime | date: 'mediumTime' }}</div>
            </div>
          </div>
          <div class="message-content">{{ message.content }}</div>

          <div class="mt-2" *ngIf="message.isValidation">
            <button *ngIf="myInfo.id == message.receiverId" class="bg-green-500 text-white px-4 py-2 rounded mr-2"
              (click)="validationUser(message.requests.Yes)">Validate</button>
            <button class="bg-red-500 text-white px-4 py-2 rounded"
              (click)="validationUser(message.requests.No)">Deny</button>
          </div>
        </div>
      </div>



      <!-- Barre pour le message -->
      <div class="flex items-center mt-4 pt-2">
        <textarea #messageInput
          class="flex-1 mr-2 p-2 border border-gray-300 rounded focus:outline-none focus:border-green-900"
          placeholder="Tapez votre message..." (keydown.enter)="sendMessage()"
          style="height: 2.5rem; resize: none;"></textarea>
        <button *ngIf="!loading" (click)="sendMessage()"
          class="px-4 py-2 bg-green-900 text-white rounded-r">Envoyer</button>
        <div *ngIf="loading" class="ml-2">
          <div class="spinner red-spinner"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>