.message-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow-y: auto;
  }
  
  .message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .message-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .message-content {
    font-weight: bold;
    white-space: pre-line;
  }
  
  .message-time {
    margin-left: auto;
    color: #888;
  }
  