<div class="h-full">

    <div class="border-b-2 block md:flex">

        <form class="w-full md:w-2/5 p-4 sm:p-6 lg:p-8 bg-white shadow-md">

            <div class="w-full pb-8 px-8 mx-2">
                <span class="text-xl font-semibold block mb-6">Profil : </span>
                <div class="flex">
                    <img class="w-40 h-40 rounded"
                        src="https://media.istockphoto.com/id/1212753856/fr/vectoriel/visage-dr%C3%B4le-de-monstre-de-dessin-anim%C3%A9-vector-halloween-monstre-avatar-carr%C3%A9.jpg?s=1024x1024&w=is&k=20&c=ieEC08fVXLWAKgNjfoRKmVAupCneP0sU9BHTrugSkMI="
                        alt="Default avatar">
                    <div class="w-full mx-2 justify-center">
                        <div class="mx-4 sm:mx-auto sm:px-6 lg:px-8">
                            <div class="sm:flex sm:space-x-4">
                                <div
                                    class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow transform transition-all w-full sm:w-1/3 sm:my-8">
                                    <div class="bg-white p-5">
                                        <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
                                            <h3 class="text-sm leading-6 font-medium text-gray-400 text-center">Total
                                                vues du mois</h3>
                                            <p class="text-xl font-bold text-black text-center">42</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow transform transition-all mb-4 w-full sm:w-1/3 sm:my-8">
                                    <div class="bg-white p-5">
                                        <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
                                            <h3 class="text-sm leading-6 font-medium text-gray-400 text-center">Total
                                                vues de l'année</h3>
                                            <p class="text-xl font-bold text-black text-center">300</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow transform transition-all mb-4 w-full sm:w-1/3 sm:my-8">
                                    <div class="bg-white p-5">
                                        <div class="sm:flex sm:items-start">
                                            <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
                                                <h3 class="text-sm leading-6 font-medium text-gray-400 text-center">Code
                                                    de l'arbre
                                                </h3>
                                                <a href="./myTreePage" class="text-xl font-bold text-black text-center">42103</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <label for="inputFile"
                class="ml-10 text-sm font-bold text-white bg-green-800 hover:bg-green-300 focus:ring-2 focus:outline-none focus:ring-green-300 rounded-lg px-5 py-2">
                Changer ma photo
            </label>
            <input type="file" id="inputFile" class="hidden">

            <div class="w-full pb-8 px-8 mx-2 flex mt-14">
                <label for="confidentialite" class="block mb-1 mr-4 text-xl font-semibold block">Visibilité de votre
                    noeud :</label>

                <div class="flex">
                    <div class="flex items-center mr-4">
                        <input id="inline-radio" type="radio" value="" name="inline-radio-group"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                        <label for="inline-radio" class="ml-2 text-sm font-medium">Publique</label>
                    </div>
                    <div class="flex items-center mr-4">
                        <input id="inline-radio" type="radio" value="" name="inline-radio-group"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                        <label for="inline-radio" class="ml-2 text-sm font-medium">Privé</label>
                    </div>
                    <div class="flex items-center mr-4">
                        <input id="inline-radio" type="radio" value="" name="inline-radio-group"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                        <label for="inline-radio" class="ml-2 text-sm font-medium">Protégé</label>
                    </div>
                </div>
            </div>
            <button type="submit"
                class="ml-10 text-white bg-green-800 hover:bg-green-300 focus:ring-2 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5">Submit
                modification</button>
        </form>

        <div class="w-full md:w-3/5 p-8 bg-white lg:ml-4 shadow-md">

            <div class="flex justify-between mb-6">
                <span class="text-xl font-semibold block">Mes infos : </span>
            </div>

            <form>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="Prénom"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Prénom</label>
                        <input type="text" id="Prénom"
                            class="cursor-not-allowed text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-600 dark:value-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            value="Adam" disabled>
                    </div>
                    <div>
                        <label for="Nom"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nom</label>
                        <input type="text" id="Nom"
                            class="cursor-not-allowed text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-600 dark:value-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            value="Bouhrara" disabled>
                    </div>
                    <div>
                        <label for="sécu" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Numéro
                            de sécu</label>
                        <input type="text" id="sécu"
                            class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-600 dark:value-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            value="212313213">
                    </div>
                    <div>
                        <label for="téléphone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Numéro
                            de téléphone</label>
                        <input type="tel" id="téléphone"
                            class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-600 dark:value-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            value="0628079905" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}">
                    </div>
                    <div>
                        <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Date
                            de naissance</label>
                        <input type="date" id="birthday"
                            class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-600 dark:value-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            value="2002-01-20">
                    </div>
                    <div>
                        <label for="nationalité"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nationalité
                            d'origine</label>
                        <input type="text" id="nationalité"
                            class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-600 dark:value-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            value="France">
                    </div>
                    <div>
                        <label for="email"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email</label>
                        <input type="email" id="email"
                            class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-600 dark:value-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            value="bouhraraad@cy-tech.fr">
                    </div>
                    <div>
                        <label for="adresse"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Adresse postale</label>
                        <input type="adresse" id="adresse"
                            class="text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-600 dark:value-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            value="5 rue gabriel péri, 95240, Cormeilles">
                    </div>
                </div>
                <button type="submit"
                    class="text-white bg-green-800 hover:bg-green-300 focus:ring-2 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit
                    modification</button>
            </form>

        </div>

    </div>

</div>