<div class="block md:flex h-full p-4 justify-center">

    <form class="sm:p-6 lg:p-8 bg-white rounded-lg overflow-y-scroll overflow-x-hidden">

        <div class="pb-8 px-8 mx-2">
            <span class="text-xl font-semibold block mb-6">Profil : </span>
            <div class="flex items-center">
                <div class="w-40 h-40 rounded mr-12">
                    <img
                        src="https://media.istockphoto.com/id/1212753856/fr/vectoriel/visage-dr%C3%B4le-de-monstre-de-dessin-anim%C3%A9-vector-halloween-monstre-avatar-carr%C3%A9.jpg?s=1024x1024&w=is&k=20&c=ieEC08fVXLWAKgNjfoRKmVAupCneP0sU9BHTrugSkMI="
                        alt="Default avatar"
                        class="object-none object-scale-down">
                </div>
                <app-profil-statbox
                    *ngFor="let box of boxs"
                    [box]="box">
                </app-profil-statbox>
            </div>
        </div>

        <div>
            <label for="inputFile"
                class="ml-10 text-sm font-bold text-white bg-green-800 hover:bg-green-300 focus:ring-2 focus:outline-none focus:ring-green-300 rounded-lg px-5 py-2">
                Changer ma photo
            </label>
            <input type="file" id="inputFile" class="hidden">
        </div>

        <div class="w-full pb-8 px-8 mx-2 flex mt-14">
            <label for="confidentialite" class="block mb-1 mr-4 text-xl font-semibold block">Tree visibility :</label>

            <div class="flex">
                <div class="flex items-center mr-4">
                    <input id="inline-radio-public" type="radio" value="" name="node_visibility"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                    <label for="inline-radio-public" class="ml-2 text-sm font-medium">Public</label>
                </div>
                <div class="flex items-center mr-4">
                    <input id="inline-radio-private" type="radio" value="" name="node_visibility"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                    <label for="inline-radio-private" class="ml-2 text-sm font-medium">Private</label>
                </div>
                <div class="flex items-center mr-4">
                    <input id="inline-radio-protected" type="radio" value="" name="node_visibility"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300" checked>
                    <label for="inline-radio-protected" class="ml-2 text-sm font-medium">Protected</label>
                </div>
            </div>
        </div>
        <div class="w-full px-8 pb-8 mx-2 block">
            <!-- mettre hidden quand la visibility du compte est sur privé ou protected -->
            <a href="myTreePage"
                class="font-medium text-xl font-semibold block text-green-800 dark:text-green-800 hover:underline">Go to
                the Tree</a>
        </div>
        <button type="submit"
            class="ml-10 text-white bg-green-800 hover:bg-green-300 focus:ring-2 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5">Submit
            modification</button>
    </form>


</div>